<% provide(:title, "Github Users") %>

<div class='left-section'>
  <%= form_for(User.new, remote: true, html: {method: 'post'}, id: 'submit')  do |f| %>
    <%= render partial: 'users/new', locals: {f: f} %>
  <% end %>
</div>

<h3 class = 'margin-10'> Leaderboard as per Github Contributions </h3>

<div class='update-button-position'>
  <%= button_to 'Update Leaderboard', update_users_path, class: 'button', method: :get %>
</div>

<div>
  <table class='leaderboard-table'>
    <thead>
      <tr>
        <th> Rank </th>
        <th> Name </th>
        <th> Github Username </th>
        <th> Today's Commits </th>
        <th> Commits Since <%= Time.now.day %>/<%= Time.now.month %>/<%= Time.now.year - 1 %> </th>
        <th> Remove from Leaderboard </th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td> <%= user.rank %> </td>
          <td> <%= user.name %> </td>
          <td> <%= link_to user.username, "https://github.com/#{user.username}" %> </td>
          <td> <%= user.commits_made_today %> Commits </td>
          <td> <%= user.total_commits %> Commits </td>
          <td> 
            <%= button_to user, method: :delete, remote: true, class: 'btn btn-default delete_user', data: { confirm: 'Are you sure to remove?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @users %>
</div>

<div class='update-button-position'>
  <%= button_to 'Update Leaderboard', update_users_path, class: 'button', method: :get %>
</div>