<% provide(:title, "Github Users") %>

<div class='left-section col-md-6'>
	<%= form_for(User.new, html: {method: 'post'})  do |f| %>
		<%= render partial: 'users/new', locals: {f: f} %>
	<% end %>
</div>

<div>
	<h3> Leaderboard </h3>
	<table class='leaderboard-table'>
		<thead>
			<tr>
				<th> Name </th>
				<th> Github Username </th>
				<th> Today's Commits </th>
				<th> Commits Since <%= Time.now.day %>/<%= Time.now.month %>/<%= Time.now.year - 1 %> </th>
				<th> Remove from Leaderboard </th>
			</tr>
		</thead>

		<tbody>
			<% @users.each do |user| %>
				<tr>
					<th> <%= user.name %> </th>
					<th> <%= link_to user.username, "https://github.com/#{user.username}" %> </th>
					<th> <%= user.commits_made_today %> Commits </th>
					<th> <%= user.total_commits %> Commits </th>
					<th> 
						<%= link_to('Delete', user, class: 'btn btn-danger remove', method: :delete, data: { confirm: 'Are you sure to remove?' }) %>
					</th>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div class='button-position'>
  <%= link_to "Refresh the Leaderboard", update_users_path, class: 'button' %>
</div>